---
permalink: /research/publications
layout: base
---
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#publications" role="tab" aria-controls="home" aria-selected="true">Publications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#books" role="tab" aria-controls="contact" aria-selected="false">Books</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="publications" role="tabpanel" aria-labelledby="home-tab">
        <style>
            .hashLink{scroll-margin-top: 5rem;}
            .yearLink{margin: 0.5rem;}
            #yearLinks{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

        </style>

            
        <div id="yearLinks"></div>
        
        
        {% assign countdown = site.data.publications | size %}
        <p>Total number of publications: {{countdown}}</p>
        
        {% assign publications = site.data.publications %}
        
        {% assign firstDate =  publications[0].publishDate | split: ' ' %}
        {% assign lastYear = firstDate[-1] %}
        <h3 class="hashLink" id="{{lastYear}}">{{lastYear}}</h3>
        
        {% for publication in publications %}
            {% assign currentDate =  publication.publishDate | split: ' ' %}
            {% assign currentYear =  currentDate[-1] %}
        
            {% if currentYear != lastYear %}
                <h3 class="hashLink" id="{{currentYear}}">{{currentYear}}</h3>
                {% assign lastYear = currentYear %}
            {% endif %}
        
            <!-- <h3 id="{{ publication }}">{{publication[0]}}</h3> -->
        
            <p>
                <span>[{{countdown}}]</span>
                {% assign countdown = countdown | minus: 1 %}
        
                {% for author in publication.authors %}
                    {% if author.link %}
                        <a style="display: inline;" href="{{author.link}}">{{author.name}}</a><span>,</span>
                    {% else %}
                        <span>{{author.name}},</span>
                    {% endif %}
                {% endfor %}
                <a style="display: inline;" href="{{publication.titleLink}}">"{{ publication.title }}",</a>


                {% if publication.publishDate != '' %}
                    <span>{{publication.publishDate}},</span>
                {% endif %}

                {% if publication.journal != '' %}
                    <span>{{publication.journal}},</span>
                {% endif %}

                {% if publication.doi != blank %}
                    <span>
                        <a href="{{publication.doi.link}}">{{publication.doi.text}}</a>
                    </span>
                {% endif %}
                
                {% if publication.links != blank %}
                    <span><a href="{{publication.links}}">{{publication.links}}</a></span>
                {% endif %}
            </p>
        {% endfor %}
        
        <script>
            // make links at top of page
            var h3s = document.getElementsByTagName('h3')
            console.log(h3s)
        
            var yearLinks = document.getElementById('yearLinks')
        
            for(h3 of h3s){
                var div = document.createElement('div')
                div.classList.add('yearLink')
        
                var a = document.createElement('a')
                a.href = '#' + h3.id
                a.textContent = h3.id
        
                div.appendChild(a)
                yearLinks.appendChild(div)
            }

            // remove commas from the end of references
            var references = document.getElementsByTagName('p')
            for(var reference of references){
                var children = reference.children

                if(children.length == 0){continue}
                if(children[children.length - 1].children[0].textContent != ''){continue}

                var childWithTextFound = false
                var lastChildIndex = children.length - 1


                ///
                while(childWithTextFound == false){
                    var lastChild = children[lastChildIndex]
                        
                    if (lastChild.tagName == 'SPAN' && lastChild.textContent.endsWith(',')){
                        //console.log(lastChild.textContent) 
                        lastChild.textContent = lastChild.textContent.slice(0, -1)
                        //console.log(lastChild.textContent)

                        childWithTextFound = true
                    }
                    lastChildIndex--
                }
            }



        </script>
    </div>
    <div class="tab-pane" id="books" role="tabpanel">
        {% for book in site.data.books %}
            <div class="book">
                <img src="{{book.image}}" alt="{{book.title}}" class="bookImage">

                <div>
                    {% if book.link %}
                        <b class="bookTitle">
                            <a href="{{ book.link }}">{{book.title}}</a></b>
                    {% else %}
                        <b class="bookTitle">{{book.title}}</b>
                    {% endif %}
                    <p class="bookAuthors">{{book.authors}}</p>
                    <p class="bookText">{{book.text}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>