---
permalink: /research/publications
layout: base
---

<h1>All Publications</h1> 
<hr>

<h3 id="publication-outputs">PUBLICATION OUTPUTS</h3>
<p>My Google Scholar profile can be obtained from <a href="https://scholar.google.co.uk/citations?user=NygekFcAAAAJ&amp;hl=en.">here</a>.</p>
<ul>
<li><a href="/research/publications/#section-BOOK">Books</a></li>
<li><a href="/research/publications/#section-CONFERENCE">Conference contributions</a></li>
<li><a href="/research/publications/#section-CHAPTER">Chapters</a></li>
<li><a href="/research/publications/#section-ARTICLE">Articles</a></li>
<li><a href="/research/publications/#section-PAPER">Papers</a></li>
<li><a href="/research/publications/#section-OTHER">Other contributions</a></li>
<li><a href="/research/publications/#section-SPECIAL_ISSUE">Special issues</a></li>
</ul>

<h3>Books</h3>

{% for book in site.data.books %}
<div class="book">
    <img src="{{book.image}}" alt="{{book.title}}" class="bookImage">

    <div>
        {% if book.link %}
            <b class="bookTitle">
                <a href="{{ book.link }}">{{book.title}}</a></b>
        {% else %}
            <b class="bookTitle">{{book.title}}</b>
        {% endif %}
        <p class="bookAuthors">{{book.authors}}</p>
        <p class="bookText">{{book.text}}</p>
    </div>
</div>
{% endfor %}

<br />
<h3>Publications</h3>

{% assign publications = site.data.publications %}
{% assign loopUntil = publications.size | minus: 1 %}

<p>Total number of publications: {{publications.size}}</p>
{% for i in (0..loopUntil) %}
    <p>
        <span>[{{ publications.size | minus: i }}]</span>
        {% for author in publications[i].authors %}
            {% if author.link %}
                <a style="display: inline;" href="{{author.link}}">{{author.name}}</a>
            {% else %}
                <span>{{author.name}}</span>
            {% endif %}
            <span>,</span>
        {% endfor %}

        <span>{{publications[i].publishDate}}</span>
        <span>,</span>
        <a style="display: inline;" href="{{publications[i].titleLink}}">{{ publications[i].title }}</a>
    </p>

{%endfor%}