---
permalink: /research/publications
layout: base
---

<h1>All Publications</h1> 
<hr>

<h3 id="publication-outputs">PUBLICATION OUTPUTS</h3>
<p>My Google Scholar profile can be obtained from <a href="https://scholar.google.co.uk/citations?user=NygekFcAAAAJ&amp;hl=en.">here</a>.</p>
<ul>
<li><a href="https://km.isg.rhul.ac.uk/research/publications/#section-BOOK">Book</a>s</li>
<li><a href="https://km.isg.rhul.ac.uk/research/publications/#section-CONFERENCE">Conference contribution</a>s</li>
<li><a href="https://km.isg.rhul.ac.uk/research/publications/#section-CHAPTER">Chapter</a>s</li>
<li><a href="https://km.isg.rhul.ac.uk/research/publications/#section-ARTICLE">Article</a>s</li>
<li><a href="https://km.isg.rhul.ac.uk/research/publications/#section-PAPER">Paper</a>s</li>
<li><a href="https://km.isg.rhul.ac.uk/research/publications/#section-OTHER">Other contribution</a>s</li>
<li><a href="https://km.isg.rhul.ac.uk/research/publications/#section-SPECIAL_ISSUE">Special issue</a>s</li>
</ul>


<h3>Publications</h3>

{% assign publications = site.data.publications %}
{% assign loopUntil = publications.size | minus: 1 %}

<p>Total number of publications: {{publications.size}}</p>
{% for i in (0..loopUntil) %}
    <p>
        <span>[{{ publications.size | minus: i }}]</span>
        {% for author in publications[i].authors %}
            {% if author.link %}
                <a style="display: inline;" href="{{author.link}}">{{author.name}}</a>
            {% else %}
                <span>{{author.name}}</span>
            {% endif %}
            <span>,</span>
        {% endfor %}

        <span>{{publications[i].publishDate}}</span>
        <span>,</span>
        <a style="display: inline;" href="{{publications[i].titleLink}}">{{ publications[i].title }}</a>
    </p>

{%endfor%}