<nav class="navbar  sticky-top navbar-expand-lg navbar-light navbar-custom-wrapper">
    <a class="navbar-brand navbar-brand-custom" href="/">KONSTANTINOS MARKANTONAKIS</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navbar %}
                {% if item.isDropdown == true %}
                    <li class="nav-item dropdown-custom">
                        <a href="{{item.link}}" class="nav-link text-white dropbtn-custom">{{item.name}}</a>
                        
                        <div class="dropdown-content-custom">
                            {% for dropdownItem in item.dropdownItems %}
                                <a href="{{dropdownItem.link}}">{{dropdownItem.name}}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{item.link}}" class="nav-link text-white">{{item.name}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>