---
permalink: /
layout: base
title: Konstantinos Markantonakis
---

<style>
    .accordion{
        max-width: 982px;
        margin-top: 1rem;
    }
    .accordion>div>div>h5{
        color: #8DF6E6;
    }
    .accordionBody>div{
        width: 33%;
        /* border: 1px solid black; */
    }
    .accordionBody{
        display: flex;
        justify-content: space-around;
        background-color: #3E4D4E;
        color: #fff;
    }
    .accordionTitle{
        background-color: #4A4945;
        color: #fff;
        border-bottom: 1px solid black;
        padding: 0.5rem;
    }
    .accordionContent{
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 120%;
    }
    .accordionContent > p{
        background-color: red;
    }
    .leftAccordionElements{
        padding-right: 1rem;
        text-align: right;
        border-right: 2px solid #E27C1F;
    }
    .rightAccordionElements{
        text-align: left;
        padding-left: 1rem;
        border-left: 2px solid #E27C1F;
    }
    .accordionElement{
        margin: 0.25rem;
    }
    .accordionElement:hover{
        cursor: pointer;
    }
    .highlightGold{
        color: #E27C1F;
    }
    .recentWork{
        max-width: 982px;
        margin-top: 1rem;
    }
    .picture{
        width: 100%;
        height: 100%;
        
        position: relative;
    }
    .pictureText{
        width: 65%;
        max-height: 75%;
        position: absolute;
        
        padding: 0.5rem;

        top: 50%;
        right: 1rem;
        transform: translate(0%, -50%);

        background-color: rgba(255, 255, 255, 0.75);
    }

    .news{
        margin-top: 1rem;
        margin-left: 1rem;
        max-width: 25%;
        
        max-height: fit-content;
    }
    .posts{
        border: 1px solid rgba(0, 0, 0, 0.25);
    }
    .newsRecentWorkContainer{
        max-width: 982px;
        display: flex;
        flex-direction: row;
    }
    .newsElement{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }
    .newsElement > a > img{
        object-fit: fill;
        width: 100%;
    }

</style>
<div class="grid">
    <div class="picture">
        <img width="982" height="252" src="/assets/images/front-photo.jpg" alt="">
        <div class="pictureText">
            <small>I am a professor of Information Security at the 
                <a href="http://www.isg.rhul.ac.uk/">Information Security Group</a> at 
                <a href="http://www.rhul.ac.uk/">Royal Holloway, University of London</a><span>, </span> the director of the 
                <a href="https://scc.rhul.ac.uk/">Smart Card and IoT Security Centre</a><span>, </span> and the director of the Transformative Digital Technologies, Security and Society Catalyst. My main research areas include: trusted execution environments; embedded devices and cyber-physical systems security; smart cards and RFIDs security; avionics and drone security; automotive, payment and transport systems security; mobile phones, near-field communication (NFC) and secure element security; and ambient sensors and Internet-of-Things (IoT) security.
                <a style="background-color: rgb(219, 112, 2); color:white;border-radius:5px;padding:0.15rem;" class="" href="/short-bio">More</a>
            </small>
        </div>
    </div>
    
    <div class="accordion">
        <div class="accordionTitle">
            <h4>Areas of research</h4>
        </div>
        <div class="accordionBody">
            <div class="leftAccordionElements">
                <h5>Active research</h5>
    
                {% for item in site.data.accordion.activeResearch %}
                    <p class="accordionElement" data-element="{{item.title}}" data-description="{{item.description}}">{{item.title}}</p>
                {% endfor %}
            </div>
            <div class="accordionContent" id="accordionContent">
                
            </div>
            <div class="rightAccordionElements">
                <h5>Research</h5>
                {% for item in site.data.accordion.research %}
                    <p class="accordionElement" data-title="{{item.title}}" data-description="{{item.description}}">{{item.title}}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        var accordionElements = [...document.getElementsByClassName("accordionElement")]
        console.log(accordionElements[0])
        
        // set first one active by default
        accordionElements[0].classList.add('highlightGold')
        //p = document.createElement('p')
        //p.setAttribute('id', 'accordionContentParagraph')
        //p.textContent = accordionElements[0].dataset.description
        //document.getElementById('accordionContent').appendChild(p)
        document.getElementById('accordionContent').textContent = accordionElements[0].dataset.description
        
        accordionElements.forEach(accordionElement => {
            accordionElement.addEventListener('mouseover', () => {
                let accordionContent = document.getElementById('accordionContent')
                accordionContent.textContent = accordionElement.dataset.description
                //p = document.getElementById('accordionContentParagraph')
                //p.textContent = accordionElement.dataset.description
                //document.getElementById('accordionContent').appendChild(p)

                accordionElements.forEach(item => {item.classList.remove('highlightGold')})
                accordionElement.classList.add('highlightGold')
            })
        })

    </script>

    <div class="newsRecentWorkContainer">

        <div class="recentWork" id="recentWork">
            
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <h3>Recent work</h3>
                    <li class="nav-item ml-auto">
                      <a class="nav-link active" data-toggle="tab" href="#publications" role="tab" aria-controls="home" aria-selected="true">Recent Publications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#presentations" role="tab" aria-controls="contact" aria-selected="false">Presentations</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#books" role="tab" aria-controls="profile" aria-selected="false">Books</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#consulting" role="tab" aria-controls="contact" aria-selected="false">Consulting</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="publications" role="tabpanel" aria-labelledby="home-tab">

                        
                        {% assign countdown = site.data.publications | size %}
                        {% for i in (0..9) %}
                            {% assign publication = site.data.publications[i] %}

                            <p>
                                <span>[{{countdown}}]</span>
                                {% assign countdown = countdown | minus: 1 %}
                        
                                {% for author in publication.authors %}
                                    {% if author.link %}
                                        <a style="display: inline;" href="{{author.link}}">{{author.name}}</a><span>,</span>
                                    {% else %}
                                        <span>{{author.name}},</span>
                                    {% endif %}
                                {% endfor %}
                                <a style="display: inline;" href="{{publication.titleLink}}">"{{ publication.title }}"</a><span>,</span>
                                <span>{{publication.publishDate}},</span>
                
                                {% if publication.journal != '' %}
                                    <span>{{publication.journal}},</span>
                                {% endif %}
                
                                {% if publication.doi != blank %}
                                    <span>
                                        <a href="{{publication.doi.link}}">{{publication.doi.text}}</a>
                                    </span>
                                {% endif %}
                                
                                {% if publication.links != blank %}
                                    <span><a href="{{publication.links}}">{{publication.links}}</a></span>
                                {% endif %}
                            </p>
                        {% endfor %}
                        <script>
                            var references = document.getElementsByTagName('p')
                            for(var reference of references){
                                var children = reference.children

                                if(children.length == 0){continue}
                                if(children[children.length - 1].children[0].textContent != ''){continue}

                                var childWithTextFound = false
                                var lastChildIndex = children.length - 1


                                ///
                                while(childWithTextFound == false){
                                    var lastChild = children[lastChildIndex]
                                        
                                    if (lastChild.tagName == 'SPAN' && lastChild.textContent.endsWith(',')){
                                        //console.log(lastChild.textContent) 
                                        lastChild.textContent = lastChild.textContent.slice(0, -1)
                                        //console.log(lastChild.textContent)

                                        childWithTextFound = true
                                    }
                                    lastChildIndex--
                                }
                            }
                        </script>
                        
                    </div>
                    <div class="tab-pane" id="presentations" role="tabpanel">
                        
                        <br>
                        <h3>8a. Invited keynote to a major international conference</h3>
                        <br>
                        <p><b>Delivered</b></p>
                        <ul>
                            <li>2019, Edinburgh, Keynote talk, Big Data in Cyber Security, “From Big Computers and Small Data to Small Computers and Big Data”, June 2019</li>
                            <li>2018, Dubai, Keynote Talk, IEEE International Conference on Signal Processing and Information Security 2018, “Secure Application Execution on IoT Devices – Lessons Learned”</li>
                            <li>2017, Bucharest, Romania, “Ambient Sensing Based Relay Attack Detection in Smartphone Contactless Transactions”, International Conference on Security for Information Technology and Communications (SECITC) 2017.</li>
                            <li>2015, Bucharest, Romania, Keynote Talk, 8th International Conference on Security for Information Technology and Communications, SECITC 2015, "Secure and Trusted Application Execution on Embedded Devices"</li>
                            <li>2012, Nijmegen, The Netherlands, Keynote Talk, The 8th Workshop on RFID Security and Privacy, “Interplay of Business Objectives and Academic Research – Holders of NFC Mobile Service Destiny”</li>
                            <li>2012, London, UK, Keynote Talk, The 7th International Conference for Internet Technology and Secured Transactions (ICITST-2012) , Smart cards, Secure Elements and NFC Security – The Status Quo”</li>
                            <li>2012, Hangzhou, China, Keynote Talk, 8th International Conference on Information Security Practice and Experience (ISPEC 2012), “Are smart cards the weakest link? Is `practical information security research’ still significant?”</li>
                        </ul>
        
                        <br>
                        <h3>8b. An invited symposium/workshop/summer school presentation</h3>
                        <ul>
                            <li>2018, Abu Dhabi, Keynote Talk, UAE Cyber-Security Symposium 2018, “Secure and Trusted Application Execution”, Khalifa University.</li>
                            <li>“Cyber Physical System Security", Intensive Programme on Information and Communications Security (IPICS), Mytilene, Greece, July 2018</li>
                            <li>“Cyber Physical System Security", Intensive Programme on Information and Communications Security (IPICS), Corfu, Greece, July 2017</li>
                            <li>“Cyber Physical System Security", Intensive Programme on Information and Communications Security (IPICS), Leuven, Belgium, July 2016</li>
                            <li>“Cyber Physical System Security", Intensive Programme on Information and Communications Security (IPICS), Mytelene, Greece, July 2015</li>
                            <li>“Secure Application Execution on Cyber Physical Devices”, Summer School on “Design and security of cryptographic algorithms and devices for real-world applications”, Šibenik - Croatia 01 June - 06 June 2014</li>
                            <li>“Embedded System Security Lesson Learned", Intensive Programme on Information and Communications Security (IPICS), Mytelene, Greece, July 2014</li>
                            <li>“Smart Cards: State-of-the-Art to Future Directions”, Invited Paper, IEEE International Symposium on Signal Processing and Information Technology, December 12-15, 2013 - Athens, Greece.</li>
                            <li>"Cyber Physical Systems", Intensive Programme on Information and Communications Security (IPICS), Samos, Greece, August 2013.</li>
                            <li>“Smart card Security”, ICareNet 2013, 3rd of December 2012, Network of Excellence - Winter School, Imperial College, London.</li>
                            <li>"Embedded System Security", Intensive Programme on Information and Communications Security (IPICS), Vienna, Austria, August 2012</li>
                            <li>"Embedded System Security", Intensive Programme on Information and Communications Security (IPICS), Corfu, Greece, August 2011</li>
                            <li>"Hardware Token Security", Intensive Programme on Information and Communications Security (IPICS), Samos, Greece, August 2010</li>
                            <li>"Smart card Security", Intensive Programme on Information and Communications Security (IPICS), Vienna, Austria, August 2009</li>
                        </ul>
        
                        <br>
                        <h3>8c. An invited presentation to another academic department (UK or international)</h3>
                        <ul>
                            <li>2019, Khalifa University (UAE), “Embedded system security, bridging theory and practice. The Smart Card and IoT Security Centre (SCC) perspective.”, October 2019</li>
                            <li>2018, Abu Dhabi, Invited Talk, Department of Electrical Engineering, “Secure and Trusted Application Execution on Embedded Devices”, Khalifa University.</li>
                            <li>“Embedded Devices, Platforms and Applications”, Invited Lecture in the MSc Programme in Digital Systems Security, University of Piraeus, Greece, 18 January,   2017</li>
                            <li>“Embedded Devices, Platforms and Applications”, Invited Lecture in the MSc Programme in Digital Systems Security, University of Piraeus, Greece, 1st December   2015</li>
                            <li>“Embedded Devices, Platforms and Applications”, Invited Lecture in the MSc Programme in Digital Systems Security, University of Piraeus, Greece, 13th January  2015</li>
                            <li>“Embedded Systems Security”, Invited Day Course, KTH, Stockholm, Sweden, April 2015.</li>
                            <li>“Multi-Application Smart card Operating Systems”, Invited Lecture in the BSc Programme in Computer Science, University of Bordeux and University or Limoges, February and March 2015</li>
                            <li>“Embedded System Security”, Khalifa University, April 2014.</li>
                            <li>“Multi-application Smart Embedded Devices”, Invited Lecture in the MSc Programme in Digital Systems Security, University of Piraeus, Greece, 13th November 2013</li>
                            <li>University of Athens, MSc in Computer Science, Invited talk on “Embedded System Security”, April 2013.</li>
                            <li>"Smart card Security Theory and Practice”, PRActical aspeCts on SEcurity (PRACSE 09), organised by the Athens Institute of Technology (AIT), June 2009.</li>
                            <li>“From Smart card to Smart card system security”, PRActical aspeCts on SEcurity (PRACSE’08), organised by the Athens Institute of Technology (AIT), May 2008.</li>
                            <li>“Smart card Security”, Institute of Computer Science (ICS) Foundation for Research and Technology – Hellas (FORTH), Heraklion, Greece, February 2008.</li>
                        </ul>
        
                    </div>
                    <div class="tab-pane" id="books" role="tabpanel">
                        {% for book in site.data.books %}
                            <div class="book">
                                <img src="{{book.image}}" alt="{{book.title}}" class="bookImage">

                                <div>
                                    {% if book.link %}
                                        <b class="bookTitle">
                                            <a href="{{ book.link }}">{{book.title}}</a></b>
                                    {% else %}
                                        <b class="bookTitle">{{book.title}}</b>
                                    {% endif %}
                                    <p class="bookAuthors">{{book.authors}}</p>
                                    <p class="bookText">{{book.text}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="consulting" role="tabpanel">
                        <br>
                        <h3>Areas of Expertise</h3>
                        <p>I initially got involved in Information Security consulting projects while pursuing my PhD in Information Security at Royal Holloway. Since then, I have worked on a number of Information Security and Smart Card related projects with numerous high profile clients, and I continue to provide consultancy for a variety of Information Security and Smart Card related areas: </p>
                        <ul>
                            <li>Smart Card physical security analysis</li>
                            <li>Multi-application Smart Card migration program planning</li>
                            <li>Project management for financial institutions and transport operators</li>
                            <li>Business case development for chip migration programs</li>
                            <li>Smart Card application (Java card, SIM card, Multos) security review, design and development</li>
                            <li>Smart Card security evaluations (Common Criteria), Security Target and Protection Profile Development</li>
                            <li>Risk analysis on Smart Card technology, protocols and systems</li>
                            <li>Smart Card security protocol design and review</li>
                            <li>Security of mobile phone platforms and secure elements</li>
                            <li>Contactless Smart Card/RFID security and Mifare card technology</li>
                        </ul>
                        <br>
                        <h3>Selected Projects</h3>
                        <ul>
                            <li>I was a part of the team, along with colleagues from the Information Security Group’s Smart Card Centre, which performed a counter expertise analysis of a report into the Dutch OV-Chipkaart transport system in 2008. This was in response to some recently published attacks on Mifare Classic smart cards. For more information please follow these links: <a href="https://web.archive.org/web/20191025082324/http:/www.isg.rhul.ac.uk/node/274">ISG_Dutch</a> and <a href="https://web.archive.org/web/20191025082324/http:/www.scc.rhul.ac.uk/public/OV Task Explanatory Note.pdf">SCC_Dutch</a>. This was a high profile piece of work, reported extensively on the internet (see further details <a href="https://web.archive.org/web/20191025082324/http:/www.thetechherald.com/article.php/200816/701">here</a>).</li>
                            <li>Since then, our team got involved in further work relating to Mifare and chip migration issues, and planning for the Dutch transport system.</li>
                            <li>I was involved in preparing an evaluation paper for different options in which security controllers can exist in mobile devices. The document was also presented as an ETSI internal document and an early version can be found <a href="https://web.archive.org/web/20191025082324/http:/www.crisptelecom.com/files/simuc.pdf">here</a>.</li>
                            <li>I was also involved in the preparation and delivery of a smart card security training course for the Information Security department of a major financial institution.</li>
                            <li>Security analysis of public key cryptography in Smart card devices and tools with restricted processing resources.</li>
                            <li>Security analysis of a smart card system for the provision of wireless telecommunications services.</li>
                        </ul>
        
                    </div>
                  </div>
        </div>

        <div class="news">
            <div id="carousel" class="posts">
                <div class="newsElement"">
                    <a href="https://scc.rhul.ac.uk/">
                        <img src="/assets/images/SCC-logo.png" alt="">
                    </a>
                </div>
                <div class="newsElement"">
                    <a href="https://www.royalholloway.ac.uk/">
                        <img src="/assets/images/royalHolloway.jpg" alt="">
                    </a>
                </div> 
                <div class="newsElement"">
                    <a href="/news">
                        <h4>Latest News!</h4>
                    </a>
                </div> 
                {% for news in site.data.news %}
                    {% assign titleWords = news.title | downcase | split: ' ' %}
                    
                    {% if news.id %}
                        {% assign titleId = news.id %}
                    {% else %}
                        {% assign titleId = titleWords | join: "-" %}
                    {% endif %}

                    <div class="newsElement multine-ellipsis">
                        <a href="/news#{{titleId}}">
                            <h6>{{news.title}}</h6>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <button id="prev">prev</button>
            <button id="next">next</button>
        </div>
        
    </div>
    <style>

        #carouselWrapper {
            position: relative;
            overflow: hidden;
        }
        #carousel {
            position: absolute;
            visibility: hidden;
        }
    </style>
    <script>
        var Carousel = {
            width: 250,
            rowHeight: 120,
            numVisible: 4,
            duration: 600,
            padding: 2
        }
        function rotateForward() {
            var carousel = Carousel.carousel,
                children = carousel.children,
                firstChild = children[0],
                lastChild = children[children.length - 1];
            carousel.insertBefore(lastChild, firstChild);
        }
        function rotateBackward() {
            var carousel = Carousel.carousel,
            children = carousel.children,
            firstChild = children[0],
            lastChild = children[children.length - 1];
            carousel.insertBefore(firstChild, lastChild.nextSibling);
        }
        function animate(begin, end, finalTask) {
            var wrapper = Carousel.wrapper,
                carousel = Carousel.carousel,
                change = end - begin,
                duration = Carousel.duration,
                startTime = Date.now();
            carousel.style.top = begin + 'px';
            var animateInterval = window.setInterval(function () {
                var t = Date.now() - startTime;
                if (t >= duration) {
                    window.clearInterval(animateInterval);
                    finalTask();
                    return;
                }
                t /= (duration / 2);
                var top = begin + (t < 1 ? change / 2 * Math.pow(t, 3) :
                                            change / 2 * (Math.pow(t - 2, 3) + 2));
                carousel.style.top = top + 'px';
            }, 1000 / 60);
        }

        window.onload = function(){
            var carousel = Carousel.carousel = document.getElementById('carousel')
            var carouselItems = carousel.getElementsByTagName('div')
            var carouselItemWidth = Carousel.width
            var padding = Carousel.padding
            var rowHeight = Carousel.rowHeight + (2 * padding)

            
            for(var i = 0; i < carouselItems.length; i++){
                var carouselItem = carouselItems[i]

                carouselItem.style.height = rowHeight + 'px'
                carouselItem.style.width = carouselItemWidth + 'px'
                carouselItem.style.paddingTop = padding + 'px'
                carouselItem.style.paddingBottom = padding + 'px'
            }
            Carousel.rowHeight = carousel.getElementsByTagName('div')[0].offsetHeight
            carousel.style.visibility = 'visible';
            carousel.style.height = Carousel.numVisible * Carousel.rowHeight + 'px'

            var wrapper = Carousel.wrapper = document.createElement('div')
            wrapper.id = 'carouselWrapper'

            wrapper.style.width = carousel.offsetWidth + 'px'
            
            wrapper.style.height = carousel.offsetHeight + 'px'

            carousel.parentNode.insertBefore(wrapper, carousel)
            wrapper.appendChild(carousel)

            var prevButton = document.getElementById('prev')
            var nextButton = document.getElementById('next')

            prevButton.onclick = () => {
                prevButton.disabled = nextButton.disabled = true
                rotateForward()
                animate(-Carousel.rowHeight, 0, () => {
                    carousel.style.top = '0'
                    prevButton.disabled = nextButton.disabled = false
                })
            }
            nextButton.onclick = () => {
                prevButton.disabled = nextButton.disabled = true
                animate(0, -Carousel.rowHeight, () => {
                    carousel.style.top = '0'
                    rotateBackward()
                    prevButton.disabled = nextButton.disabled = false
                })
            }

        }

    </script>

    <!-- auto scrolling -->
    <script>
        var prevButton = document.getElementById('prev')
        var nextButton = document.getElementById('next')

        prevButton.style.visibility = 'hidden'
        nextButton.style.visibility = 'hidden'

        setInterval(() => {
            nextButton.click()
        }, 2000)
    </script>

</div>    
